<ui>
	<menubar name="MenuBar">
		<menu action="menu-engine">
			<menuitem action="unpause"></menuitem>
		</menu>
		<menu action="menu-script">
			<menuitem action="rebuild-and-reload"></menuitem>
		</menu>
		<menu action="menu-connect">
			<menuitem action="reconnect"></menuitem>
		</menu>
	</menubar>
</ui>